*
{
     margin: 0;
     padding: 0;
     transition: all .5s linear;
}

*, *::before, *::after{
     box-sizing: border-box;
}

html{
     font-family: var(--ff-inter);
}

h1,h2,h3,h4,h5,h6{
     color: var(--white); 
}